In [13]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

In [6]:
df = pd.read_csv("C:/Users/kannu/OneDrive/Documents/datasets/Airbnb_Open_Data.csv", low_memory = False)

df.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

In [8]:
df.drop(["id", "NAME", "host id", "license", "country", "country code", "house_rules"], axis=1, inplace = True)
df.head()

,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365
0,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0
1,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0
2,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,True,flexible,Private room,2005.0,$620,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0
3,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,True,moderate,Entire home/apt,2005.0,$368,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0
4,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0

In [9]:
percentage_nan = df.isnull().sum() / df.shape[0] * 100
percentage_nan_df = pd.DataFrame({"Column Name": percentage_nan.keys(), "%": percentage_nan})
percentage_nan_df.reset_index(drop = True, inplace = True)
percentage_nan_df

                       Column Name          %
0           host_identity_verified   0.281679
1                        host name   0.395715
2              neighbourhood group   0.028265
3                    neighbourhood   0.015595
4                              lat   0.007797
5                             long   0.007797
6                 instant_bookable   0.102340
7              cancellation_policy   0.074075
8                        room type   0.000000
9                Construction year   0.208579
10                           price   0.240743
11                     service fee   0.266084
12                  minimum nights   0.398639
13               number of reviews   0.178364
14                     last review  15.490404
15               reviews per month  15.476759
16              review rate number   0.317742
17  calculated host listings count   0.310919
18                availability 365   0.436651

In [12]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
lat,102591.0,40.728094,0.055857,40.49979,40.68874,40.72229,40.76276,40.91697
long,102591.0,-73.949644,0.049521,-74.24984,-73.98258,-73.95444,-73.93235,-73.70522
Construction year,102385.0,2012.487464,5.765556,2003.00000,2007.00000,2012.00000,2017.00000,2022.00000
minimum nights,102190.0,8.135845,30.553781,-1223.00000,2.00000,3.00000,5.00000,5645.00000
number of reviews,102416.0,27.483743,49.508954,0.00000,1.00000,7.00000,30.00000,1024.00000
reviews per month,86720.0,1.374022,1.746621,0.01000,0.22000,0.74000,2.00000,90.00000
review rate number,102273.0,3.279106,1.284657,1.00000,2.00000,3.00000,4.00000,5.00000
calculated host listings count,102280.0,7.936605,32.218780,1.00000,1.00000,1.00000,2.00000,332.00000
availability 365,102151.0,141.133254,135.435024,-10.00000,3.00000,96.00000,269.00000,3677.00000

## Visualisation

In [ ]:
fig = px.treemap(df, path = )